In [1]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt

plt.rcParams['figure.figsize'] = (15, 5)

Lets us go back to the bike dataset

# 4.1 Adding a 'weekday' column to our dataframe

First, we need to load up the data. We've done this before.

In [51]:
df = pd.read_csv('../data/bikes.csv', encoding='latin1', parse_dates=['Date'], sep=";", dayfirst=True, index_col=['Date'])

Next up, we're just going to look at the Berri bike path. Berri is a street in Montreal, with a pretty important bike path. I use it mostly on my way to the library now, but I used to take it to work sometimes when I worked in Old Montreal. 

So we're going to create a dataframe with just the Berri bikepath in it

In [52]:
berry = df['Berri 1'].copy()

Next, we need to add a 'weekday' column. Firstly, we can get the weekday from the index. We haven't talked about indexes yet, but the index is what's on the left on the above dataframe, under 'Date'. It's basically all the days of the year.

You can see that actually some of the days are missing -- only 310 days of the year are actually there. Who knows why.

Pandas has a bunch of really great time series functionality, so if we wanted to get the day of the month for each row, we could do it like this:

In [61]:
dayofweek = pd.Series(df.index.dayofweek, index=df.index, name='day of week')

In [62]:
dayofweek

Date
2012-01-01    6
2012-01-02    0
2012-01-03    1
2012-01-04    2
2012-01-05    3
2012-01-06    4
2012-01-07    5
2012-01-08    6
2012-01-09    0
2012-01-10    1
2012-01-11    2
2012-01-12    3
2012-01-13    4
2012-01-14    5
2012-01-15    6
2012-01-16    0
2012-01-17    1
2012-01-18    2
2012-01-19    3
2012-01-20    4
2012-01-21    5
2012-01-22    6
2012-01-23    0
2012-01-24    1
2012-01-25    2
2012-01-26    3
2012-01-27    4
2012-01-28    5
2012-01-29    6
2012-01-30    0
             ..
2012-10-07    6
2012-10-08    0
2012-10-09    1
2012-10-10    2
2012-10-11    3
2012-10-12    4
2012-10-13    5
2012-10-14    6
2012-10-15    0
2012-10-16    1
2012-10-17    2
2012-10-18    3
2012-10-19    4
2012-10-20    5
2012-10-21    6
2012-10-22    0
2012-10-23    1
2012-10-24    2
2012-10-25    3
2012-10-26    4
2012-10-27    5
2012-10-28    6
2012-10-29    0
2012-10-30    1
2012-10-31    2
2012-11-01    3
2012-11-02    4
2012-11-03    5
2012-11-04    6
2012-11-05    0
Name: day of week, Length: 310, dtype: int64

We actually want the weekday, though:

In [63]:
berry2 = pd.concat((berry, dayofweek), axis=1)
berry2

            Berri 1  day of week
Date
2012-01-01       35            6
2012-01-02       83            0
2012-01-03      135            1
2012-01-04      144            2
2012-01-05      197            3
2012-01-06      146            4
2012-01-07       98            5
2012-01-08       95            6
2012-01-09      244            0
2012-01-10      397            1
2012-01-11      273            2
2012-01-12      157            3
2012-01-13       75            4
2012-01-14       32            5
2012-01-15       54            6
2012-01-16      168            0
2012-01-17      155            1
2012-01-18      139            2
2012-01-19      191            3
2012-01-20      161            4
2012-01-21       53            5
2012-01-22       71            6
2012-01-23      210            0
2012-01-24      299            1
2012-01-25      334            2
2012-01-26      306            3
2012-01-27       91            4
2012-01-28       80            5
2012-01-29       87            6
2012-01-30      219            0
...             ...          ...
2012-10-07     1580            6
2012-10-08     1854            0
2012-10-09     4787            1
2012-10-10     3115            2
2012-10-11     3746            3
2012-10-12     3169            4
2012-10-13     1783            5
2012-10-14      587            6
2012-10-15     3292            0
2012-10-16     3739            1
2012-10-17     4098            2
2012-10-18     4671            3
2012-10-19     1313            4
2012-10-20     2011            5
2012-10-21     1277            6
2012-10-22     3650            0
2012-10-23     4177            1
2012-10-24     3744            2
2012-10-25     3735            3
2012-10-26     4290            4
2012-10-27     1857            5
2012-10-28     1310            6
2012-10-29     2919            0
2012-10-30     2887            1
2012-10-31     2634            2
2012-11-01     2405            3
2012-11-02     1582            4
2012-11-03      844            5
2012-11-04      966            6
2012-11-05     2247            0

[310 rows x 2 columns]

These are the days of the week, where 0 is Monday. I found out that 0 was Monday by checking on a calendar.

Now that we know how to *get* the weekday, we can add it as a column in our dataframe like this:

In [68]:

%timeit berry2.groupby('day of week').sum()
%timeit berry2.groupby('day of week').aggregate(sum)

1.51 ms ± 7.87 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)
1.55 ms ± 13.1 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

# 4.2 Adding up the cyclists by weekday

This turns out to be really easy!

Dataframes have a `.groupby()` method that is similar to SQL groupby, if you're familiar with that. I'm not going to explain more about it right now -- if you want to to know more, [the documentation](http://pandas.pydata.org/pandas-docs/stable/groupby.html) is really good.

In this case, `berri_bikes.groupby('weekday').aggregate(sum)` means "Group the rows by weekday and then add up all the values with the same weekday".

It's hard to remember what 0, 1, 2, 3, 4, 5, 6 mean, so we can fix it up and graph it:

In [76]:
s = berry2.replace({'day of week': {0: "Monday", 1: "Tuesday", 2: "Wednesday", 3: "Thursday", 4: "Friday", 5:"Saturday", 6:"Sunday"}}).groupby('day of week').sum()

In [77]:
s

             Berri 1
day of week
Friday        141771
Monday        134298
Saturday      101578
Sunday         99310
Thursday      160131
Tuesday       135305
Wednesday     152972

So it looks like Montrealers are commuter cyclists -- they bike much more during the week. Neat!

# 4.3 Putting it together

Let's put all that together, to prove how easy it is. 6 lines of magical pandas!

If you want to play around, try changing `sum` to `max`, `numpy.median`, or any other function you like.